/*
 * auth: budiono
 * date: aug-31, 10:04, thu-2023;
 */

html {
  font-size: 14px;
}

@media (max-width: 900px) {
  html { font-size: 13px; }
}
@media (max-width: 400px) {
  html { font-size: 10px; }
}

input:focus,textarea:focus{
  outline:none; //ini penting
}

body{
  margin:0px;
  padding:0px;
  background-color:#F8F8FF;
  font-family:sans;
  color: #101010;
}

ul {
  list-style-type: none;
  margin: 0;
  padding:0;
}

li {
  margin-left:0.1rem;
  margin-top:0.2rem;
  height:1.5rem;
}
label{
  display:inline-block;
  width:8rem;
}
input[type=text],input[type=password],textarea,input[type=date]{
  border-radius:7px;
  padding-left:0.2rem;
  padding-right:0.1rem;
  border:1px solid grey;
}
input[type=text]:focus,input[type=password]:focus,textarea:focus,input[type=date]:focus{
  color:black;
  border:1px solid blue;
}
input:disabled{
  color:#00008B; //darkblue
  background-color:lightgrey;
}
input[type=text]:disabled, select:disabled{
  color:#00008B;
  background-color:#E0E0E0; /*#F0F0F0;*/
}
.div-center{
  margin:0;
  top:2rem;
  left:50%;
  position:absolute;
  transform:translate(-50%,0)
}
.dropbtn {}
.dropdown-content {}
.btn_hide:before{
  content: "\003C \0020";
}
